{$PACER_DISTRIBUTION_DOMAIN} {
    tls {$HOME}/.local/share/caddy-certs/{$PACER_DISTRIBUTION_DOMAIN}.crt {$HOME}/.local/share/caddy-certs/{$PACER_DISTRIBUTION_DOMAIN}.key

    handle /watchos/* {
        uri strip_prefix /watchos
        root * dist
        file_server

        @ipa path *.ipa
        header @ipa Content-Type application/octet-stream
    }

    handle /watchos {
        redir /watchos/ permanent
    }

    handle /ca.pem {
        root * dist
        header Content-Type application/x-pem-file
        header Content-Disposition "attachment; filename=mkcert-ca.pem"
        file_server
    }
}
